<nav class="navbar">
    <ul class="nav-list">
        <li><a href="#"> HOME </a></li>
        <li><a href="#"> CUSTOM </a></li>
        <li><a href="#"> SEDAN </a></li>
        <li><a href="#"> SUV </a></li>
        <li><a href="#"> TRUCK </a></li>
    </ul>
</nav>